body {
  font-family: 'Mate SC', serif;
  margin-top: 100px;
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
  background-color: #9F5540;
}

/* TEMPLATE */

.fas {
  color: #137C8B;
}

.navbar {
  font-size: 23px;
}

#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 52px;
  bottom: 50px;
  right: 60px;
}

#scroll_to_top img {
  width: 25px;
}

.footer {
height: 50px;
background-color: black;
margin-top: 60px;

}

#img {
  height: 420px;
  margin-top: 117px;
}

#slider {
  margin-bottom: 30px;
  
}
/* ProjetView */

img {
  width: 100%;
}

.divImg {
  margin-bottom: 20px;
}

h1 {
  margin-top: 60px;
}

/* SKILL */

#titleSkill {
  text-align: center;
}
.pProgress {
  text-align: center;
  margin-top: 30px;
}

#containerSkill {
  text-align: center;
}

#logoLanguage {
  text-align: center;
}

#logoLanguage > img{
  width: 45px;
  
}

/* footer */

.textFooter {
  color: #9F5540;
}
/* FORMATION */
   #titleFormation {
     font-size: 50px;
   }


.containerFormation {
  text-align: center;
}

#imgOc {
  width: 400px;
}
/* CONTACT */

/* ADMIN */

.row.espacement {
  display: flex;
  justify-content: space-around;
}

  #portrait{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    border-radius: 50%;
    margin-right: 20px;
  }
/* QUI SUIS-JE*/
  #weatherIcon {
    width: 100px;
    height: 100px;
  }

  #titleInfos{
    margin-top: 60px;
  }

  #weather {
    display: flex;
  }


  @media all and (max-width: 375px) {
    .navbar-brand{
      font-size: 14px;
    }
    
}